.pokemon__card {
	width: 250px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 20px;
	border-radius: 8px;
	border: 0.2px solid lightgray;
	background-color: #fafafa;
	cursor: pointer;
}

.pokemon__card__name {
	font-size: 2rem;
	font-weight: 900;
	text-transform: capitalize;
}

.pokemon__card__img {
	width: 150px;
	height: 150px;
}
