.type {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

.type__wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 60%;
}

.type__card {
	flex: 3;
	margin: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
